.header{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header h2{
    font-weight: bold;
    color: rgb(0, 163, 150);
    margin: 0;
}
.btn-chart{
    background-color: rgb(0, 201, 184);
    color: white;
}
