footer {
    background-color: rgb(0, 201, 184);
    color: white;
    padding:50px 0;
}
footer h1 {
    margin: 0;
}

.footer {
    display: flex;
    justify-content: space-evenly;
}
.footer .address {
    width: 300px;
}
.footer .footer-about {
}
.footer .phone {
    display: flex;
}
.telepon {
    margin-left: 20px;
}
.pay-bca,
.pay-bni,
.pay-bri {
    display: flex;
}
.footer .payment {
}
